@layer vars, base, typography, layout, components;

@import "./variables.css" layer(vars);

@import "./base.css" layer(base);
@import "./layout.css" layer(layout);
@import "./typography.css" layer(typography);

@import "./nav.css" layer(layout);
@import "./footer.css" layer(layout);

@import "./blog.css" layer(components);
@import "./cards.css" layer(components);
@import "./article.css" layer(components);
@import "./code.css" layer(components);
@import "./components.css" layer(components);
