/* ===== Layout ===== */

.container{
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 44px 20px 64px;
  box-sizing: border-box;
}

@media (min-width: 960px){
  .container{
    padding-top: 56px;
  }
}
