/* ===== Page ===== */

.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@supports (min-height: 100dvh){
  .page{ min-height: 100dvh; }
}

.page > main{
  flex: 1;
}

/* ===== Layout ===== */

.container{
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 20px;
  box-sizing: border-box;
}
