---
---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Itashin1201</title>
  </head>
  <body>
    <h1>Astro + GitHub Pages OK</h1>
    <p>{new Date().toISOString()}</p>
  </body>
</html>
